@import "../../base";

.color-list {
	height: 40px;
	.color-container {
		display: inline-block;
		position: relative;
	}
	.color-item {
		width: 40px;
		height: 40px;
		box-sizing: border-box;
		margin-right: 10px;

		border-radius: 50%;
		border: none;
		outline: none;
		cursor: pointer;

		.color-del {
			position: absolute;
			right: 0;
			top: 0;
			width: 30px;
			height: 30px;
			line-height: 30px;
			border-radius: 50%;
			opacity: 0;
			background-color: #d8d8d8;
			color: #fff;
			font-weight: bold;

			@include transform(scale(0.4));
			@include transformOrigin(right top);
			@include transition(opacity ease-in-out .15s);
		}

		&.normal {
			position: relative;

			@include transition(box-shadow ease-in-out .15s);

			&:focus {
				box-shadow: 0 0 0 1.5px #fff;
			}

			&:hover {
				.color-del {
					opacity: 1;
				}
			}
		}

		&.color-add {
			vertical-align: top;
			color: #fdc677;
			background-color: transparent;
			border: 1px solid #d9dbdb;
			font-size: 24px;
			box-sizing: border-box;

			@include transition(background-color ease-in-out .15s, color ease-in-out .15s, border ease-in-out .15s);

			&:hover {
				color: #fff;
				background-color: #fdc677;
				border: none;
			}
		}
	}
}
