%ellipsis-one{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%ellipsis-more{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
}
