@import "../../panel/style/Panel";

.panel {
	width: 600px;

	.panel-body {
		height: 325px;
	}
	.panel-body-half {
		width: 50%;
		height: 100%;
		float: left;

		padding: 20px 30px;
		box-sizing: border-box;

		&.right {
			background-color: #f4f6f6;
		}
	}
}

.form-control {
	font-size: 12px;
	letter-spacing: 1px;
	width: 100%;

	&[name=title] {
		height: 40px;
	}

	&[name=desc] {
		height: 58px;
		resize: none;
	}

  &[name=title], &[name=desc] {
		background-color: #f2f6fa;
		color: #888;
		&:focus {
			background-color: #e1e6ef;
		}

		-webkit-transition: background-color ease-in-out .15s;
		-o-transition: background-color ease-in-out .15s;
		transition: background-color ease-in-out .15s;
	}

	&[name=label] {
		display: block;
		height: 40px;
		line-height: 40px;
		color: #888;
	}

	margin-bottom: 10px;
}

input.form-control, textarea.form-control {
	border: none;
	outline: none;

	padding: 10px;
	box-sizing: border-box;
}
